@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.box {
  display: flex;
  width: 100%;
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) box-shadow;
}

html {
  scroll-behavior: smooth;
}

.sections {
  display: flex;
  flex-direction: column;
  place-items: center;

  border: 1px solid red;
}

.links-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
